@charset "UTF-8";

table {
    width: 500px;
    border-collapse: collapse;
    margin: auto;
    color: white;
    text-align: center;
}

#container-tabela {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(1000px);
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--sombra-branca);
    margin: auto;
    position: absolute;
}

caption {
    font-size: 1.8em;
    border: 1px solid black;
    padding: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}